/* 전체 페이지 구조 */
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* 메인화면 비디오 */
.bodyWrap {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: fill; 
}

/* 메인화면 날짜 */
.mainDate {
    font-size: 20px;
    color: azure;
    position: absolute;
    top: 100px;
    right: 50px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    width: 300px;
    text-align: center;
    animation: moveDiagonal 5s infinite alternate;
    z-index: 100;
}

/* 메인화면 둥근 박스 애니메이션 */
@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0); /* 초기 위치 */
    }
    100% {
        transform: translate(-40px, -30px); /* 왼쪽 위로 이동 */
    }
}

/* D-Day 텍스트 */
.ddaySet {
    font-size: 200px;
    font-weight: bolder;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
}

/* 두 번째 화면 */
.secondScreen {
    background-color: white;
    width: 100%;
    height: 900px;
    font-size: 24px;
    color: #333;
}

.mentStartDate {
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 80px;
    color: pink;
}

.mentRomantic {
    font-size: 100px;
    padding-top: 10px;
    padding-left: 80px;
    
    /* white-space: pre-wrap; */
}
.startArrow{
    float:right;
}
.mentStart{
    font-size: 130px;
    padding-right: 50px;
    font-weight: bolder;
}
.arrowImg{
    float: right;
    padding-right: 50px;
}

/* 세번째 페이지 */
.thirdScreen {
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 24px;
    color: #333;
}

.inviteMent{
    display: flex;
}

.inviteMent2{
    padding-left: 10px;
}