/* 전체 페이지 구조 */
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* 맨 위 요소들 */
.topBox{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#topNames{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topName{
    padding: 12px 10px 0 10px;
}
#topButton{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topBtName{
    padding: 15px 20px 0 10px;
}
.topDate {
  font-size: 25px;
  font-weight: 700;
}

/* 맨 위 요소 이미지 */
.topBtImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: gray;
    padding: 7px;
    margin-right: 10px;
}
.topLogoImg{
    width: 130px;
    height: 70px;
    padding: 10px;
}

/* 메인 동영상 애니메이션 */
.bodyWrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 첫화면 */
.firstScreen{
    position: relative;
}
.canvasBox{
    width: 100%; 
    height: 100vh;
}
canvas {
    position: fixed;
    z-index: 100;
    transition: opacity 2s ease, transform 1s;
  }
  
/* 비디오 */
.firstScreen video {
    padding-top: 100px;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

/* 서포트 이미지 애니메이션 */
@keyframes slided {
    from {
        transform: translateX(0); /* 텍스트가 왼쪽에서 시작 */
    }
    to {
        transform: translateX(-100%); /* 텍스트가 왼쪽으로 끝까지 이동 */
    }
}

.supportImgFile{
    display: flex; /* 이미지를 가로로 배치 */
    gap: 20px;
    animation: slided 30s linear infinite; /* 애니메이션 무한 반복 */
}
.supportImgFile .supportList{
    border-radius: 13px;
    padding: 10px;
    margin: 30px 10px;
    width: 20%; /* 고정된 픽셀 대신 비율로 설정 */
    max-width: 300px; /* 최대 크기를 제한 */
    height: auto; /* 비율 유지하며 높이 자동 조정 */
    object-fit: contain;
}

/* 메인화면 날짜 */
.mainDate {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 350px;
    right: 50px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    width: 260px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: moveDiagonal 5s infinite alternate;
    z-index: 50;
}

/* 메인화면 둥근 박스 애니메이션 */
@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0); /* 초기 위치 */
    }
    100% {
        transform: translate(-40px, -30px); /* 왼쪽 위로 이동 */
    }
}

/* D-Day 텍스트 */
.ddaySet {
    font-size: 200px;
    font-weight: bolder;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: rgb(53, 48, 48);
    z-index: 50;
}

/* 두 번째 화면 */
.secondScreen {
    background-color: white;
    width: 100%;
    height: 750px;
    font-size: 24px;
    color: #333;
}

.hidden {
    opacity: 0;
    transform: translateY(50px); /* 아래로 이동된 상태로 숨김 */
    transition: all 0.5s; /* 부드러운 애니메이션 효과 */
}
.show {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 이동 */
}

/* 로맨틱 멘트 디자인 */
.mentStartDate {
    font-size: 30px;
    padding-top: 150px;
    padding-left: 80px;
    color: rgb(156, 72, 86);
}
.mentRomantic {
    font-size: 100px;
    padding-top: 15px;
    padding-left: 70px;
}
.startMent{
    float:right;
    color: rgb(107, 37, 37);

}
.mentStart{
    font-size: 130px;
    padding-right: 50px;
    padding-top: 50px;
}


/* 두번째 화면 아래 - 화살표 및 멘트 한줄 */
.secondBottomScreen{
    width: 100%;
    height: 220px;
}

.arrowMent{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.inviteMent{
    font-size: 25px;
    display: flex;
    align-items: end;
    white-space: nowrap;
}

/* 세번째 화면 */
.thirdScreen {
    /* width: 100%; */
    font-size: 17px;
    color: #333;
    padding: 10px;
}

/* baking video랑 poster 이미지 */
.videoPoster {
    display: flex;
    gap: 20px;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 정렬 */
}
.videoPoster video, .videoPoster img {
    height: calc(100vh * 0.7); /* 높이를 화면 높이에 비례하여 설정 */
    aspect-ratio: 16 / 9; /* 비율 유지 */
    object-fit: cover; /* 비율 유지하며 콘텐츠 채우기 */
    border-radius: 13px;
    min-height: 40px;
}
.videoPoster img {
    max-width: 35%;
}
.videoPoster video {
    max-width: 65%;
}

/* 네번째 화면 */
/* 빵집 리스트 나열 */
.swiperContainer {
    position: relative;
  }
.swiper-wrapper {
    display: flex; /* 슬라이드를 가로로 정렬 */
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    gap: 10px;
    padding-right: 10px;
}
.cafeList {
    flex: 0 0 calc(25% - 10px); /* 한 화면에 4개의 슬라이드를 표시 */
    height: auto;
    border-radius: 10px;
}
.swiperBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prevBtn {
    left: 10px;
}
.nextBtn {
    right: 10px;
}
.swiperBtn:hover, .cafeBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 카페리스트 확인 멘트 */
.forthScreen span:first-child{
    display: block;
    text-align: center;
    font-size: 30px;
}

/* 글씨 색 변경 */
.highlight {
    color: rgb(183, 63, 83);
}

/* 카페리스트 더보기 버튼 */
.cafeBtn{
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
}

/* 다섯번째 화면 */
.fifthScreen{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 1100px;
}

/* 왼쪽 */
.fifthMent{
    flex: 4.5;
    padding-left: 50px;
    min-width: 300px;
}
.fifthMent2{
    padding-top: 20px;
    font-size: 60px;
}

/* 오른쪽 */
.notice{
    width: 100%;
    flex: 5.5;
}
.notice a{
    display: flex;
    border-bottom: solid 2px;
    margin: 30px;
    max-width: 700px;
    padding-left: 50px;
}
.noticeTop{
    height: 80px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.infonum{
    width: 130px;
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-size: 50px;
    padding-bottom: 13px;
    padding-left: 10px;
}
.infodate{
    font-size: 13px;
}
.title{
    padding: 25px;
    margin-left: 10px;
}
  
/* snsList */
.snsBox p{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 20px;
}
.snsListFile {
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 5px;
}
.imgWrapper {
    position: relative;
    cursor: pointer;
}
.snsList {
    display: block;
    transition: transform 0.3s ease; /* hover 시 약간 확대 */
}
.imgWrapper:hover .snsList {
    transform: scale(1.05); /* 확대 효과 */
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.hoverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    font-weight: 900;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.imgWrapper:hover .hoverText {
    opacity: 1; /* hover 시 텍스트 표시 */
}

.rightBox{
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
}

/* 반응형: 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
    #topNames {
        display: none;
    }

    #topButton{
        position: fixed;
        top: 5px;
        right: 3px;
    }

    /* 반응형시 나타나는 탑박스 */
    .rightBox {
        z-index: 20000;
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
    }

    .rightBox div {
        margin-bottom: 20px; 
    }

    #rightNames div{
        width: 100px;
        height: 30px;
        border: solid;
        border-radius: 60px;
        border-width: 2px;
        display: flex; 
        align-items: center;
        justify-content: center;
        background-color: red;
    }

    /* 두번째 화면 */

    .secondScreen .mentStartDate{
        font-size: 20px;
        margin-left: -40px;
    }
    .secondScreen .mentRomantic{
        font-size: 60px;
        margin-left: -37px;
    }

    .secondScreen .mentStart{
        font-size: 60px;
        margin-right: -10px;
    }

    /* 두번째 화면 아래 화살표 및 멘트 */

    .arrowMent{
        margin-top: -200px;
    }
    .arrowMent .inviteMent{
        font-size: 20px;
    }
    .arrowMent img{
        width: 80px;
        height: 80px;
    }

    /* 다섯번째 화면, 공지사항 */
    .fifthScreen {
        flex-direction: column;
        align-items: center;
        height: 1300px;
    }
    .fifthMent, .notice {
        width: 100%;
        flex: unset;
        padding: 0 20px;
        overflow: hidden;
    }
    .fifthMent{
        margin-left: 60px;
    }
    .fifthMent2 {
        font-size: 50px;
    }
}

/* 맨 밑바닥 */
.bottom{
    background-color: black;
    width: 100%;
    height: 270px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 70px 20px;
}
.bottomLeft{
    margin-left: -100px;
}
.bottomRight{
    font-size: 17px;
    font-weight: bolder;
    margin-left: -10px;
    margin-top: 15px;
    p{
        color: rgb(153, 148, 148);
    }
}

/* 맨 밑 날짜 표시 요소 */
.dayCir{
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 97px;
    background: linear-gradient(to bottom, #fd5392, #f86f64);
}
.cirDate{
    font-size: 26px;
}