/* .bodyWrap{
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    position: relative;
} */

/* 맨 위 요소들 */
.topBox{
    display: flex;
    height: 80px;
    background-color: pink;
}
#topNames{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topName{
    padding: 12px 10px 0 10px;
}
#topButton{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topBtName{
    padding: 10px 20px 0 10px;
}
.topDate {
  font-weight: bolder;
}

/* 맨 위 요소 이미지 */
.topBtImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: gray;
    padding: 5px;
}
.topLogoImg{
    width: 100px;
    height: 70px;
    position: fixed;
    left: 10px;
    top: 10px;
}

/* 메인 동영상 애니메이션 */
.slideBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px); /* 높이를 100% - 80px로 설정 */
  position: relative; /* 자식 요소를 가운데 정렬하기 위한 설정 */
  overflow: hidden; /* 슬라이드 밖의 내용 가리기 */
}
.slideText {
  position: absolute;
  white-space: nowrap;
  font-size: 240px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  animation: slided 15s linear infinite;
  /* 가운데 정렬 */
  top: 50%;
  left: 0;
  transform: translate(100%, -50%);
}
@keyframes slided {
  from {
    transform: translate(100%, -50%); /* 오른쪽에서 시작 */
  }
  to {
    transform: translate(-100%, -50%); /* 화면 왼쪽 끝으로 이동 */
  }
}


/* 맨 밑 날짜 표시 요소 */
.dayCir{
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 97px;
    background: linear-gradient(to bottom, #fd5392, #f86f64);
}
.cirDate{
    font-size: 26px;
}