body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    width: 100%;
}
  
/* 맨 위 요소들 */
.topBox{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#topNames{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}

.topName{
    padding: 12px 10px 0 10px;
}

#topButton{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}

.topBtName{
    padding: 15px 20px 0 10px;
}

.topDate {
  font-size: 25px;
  font-weight: 700;
}

.topBtImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: gray;
    padding: 7px;
}

.topLogoImg{
    width: 100px;
    height: 70px;
    position: fixed;
    top: 0;
}

.bodyWrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}


/* 비디오 및 캔버스 */

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.canvasBox{
    position:relative; 
    width: 100%; 
    height: 100vh;
}

canvas {
    position: fixed;
    top: 40px;
    z-index: 2;
    transition: opacity 2s ease, transform 4s;
}
