/* 전체 페이지 구조 */
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

/* 맨 위 요소들 */
.topBox{
    display: flex;
    height: 80px;
    background-color: pink;
}
#topNames{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topName{
    padding: 12px 10px 0 10px;
}
#topButton{
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
}
.topBtName{
    padding: 10px 20px 0 10px;
}
.topDate {
  font-weight: bolder;
}

/* 맨 위 요소 이미지 */
.topBtImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: gray;
    padding: 5px;
}
.topLogoImg{
    width: 100px;
    height: 70px;
    position: fixed;
    left: 10px;
    top: 10px;
}

/* 메인 동영상 애니메이션 */
.slideBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px); /* 높이를 100% - 80px로 설정 */
  position: relative; /* 자식 요소를 가운데 정렬하기 위한 설정 */
  overflow: hidden; /* 슬라이드 밖의 내용 가리기 */
}
.slideText {
  position: absolute;
  white-space: nowrap;
  font-size: 240px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  animation: slided 15s linear infinite;
  /* 가운데 정렬 */
  top: 50%;
  left: 0;
  transform: translate(100%, -50%);
}
@keyframes slided {
  from {
    transform: translate(100%, -50%); /* 오른쪽에서 시작 */
  }
  to {
    transform: translate(-100%, -50%); /* 화면 왼쪽 끝으로 이동 */
  }
}

/* 메인화면 비디오 */
.bodyWrap {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: fill; 
}

/* 메인화면 날짜 */
.mainDate {
    font-size: 20px;
    color: azure;
    position: absolute;
    top: 100px;
    right: 50px;
    border: 2px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    width: 300px;
    text-align: center;
    animation: moveDiagonal 5s infinite alternate;
    z-index: 100;
}

/* 메인화면 둥근 박스 애니메이션 */
@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0); /* 초기 위치 */
    }
    100% {
        transform: translate(-40px, -30px); /* 왼쪽 위로 이동 */
    }
}

/* D-Day 텍스트 */
.ddaySet {
    font-size: 200px;
    font-weight: bolder;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
}

/* 두 번째 화면 */
.secondScreen {
    background-color: white;
    width: 100%;
    height: 900px;
    font-size: 24px;
    color: #333;
}

.mentStartDate {
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 80px;
    color: pink;
}

.mentRomantic {
    font-size: 100px;
    padding-top: 10px;
    padding-left: 80px;
    
    /* white-space: pre-wrap; */
}
.startArrow{
    float:right;
}
.mentStart{
    font-size: 130px;
    padding-right: 50px;
    font-weight: bolder;
}
.arrowImg{
    float: right;
    padding-right: 50px;
}

/* 세번째 페이지 */
.thirdScreen {
    background-color: red;
    width: 100%;
    /* 마지막에 높이 설정해야됨 */
    height: 800px;
    font-size: 24px;
    color: #333;
}

.inviteMent{
    display: flex;
}

.inviteMent2{
    padding-left: 10px;
}

/* 맨 밑 날짜 표시 요소 */
.dayCir{
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 97px;
    background: linear-gradient(to bottom, #fd5392, #f86f64);
}
.cirDate{
    font-size: 26px;
}